@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.quizFrame {
  background-color: #f2f2f2;
  padding: 20px;
}

.timer {
  margin: 40px auto 10px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #00ccbb, #009988);
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
}

.timer span {
  display: inline-block;
  padding: 5px 10px;
  background-color: #333;
  border-radius: 4px;
}

.timer span:first-child {
  background-color: #d50000;
  color: #fff;
}

.timer::after {
  content: "";
  position: relative;
  display: block;
  width: 100px;
  height: 5px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    #333,
    rgba(0, 0, 0, 0)
  );
  margin: 15px auto;
}

.startFrame {
  text-align: center;
}

.startFrame h1 {
  color: #007bff;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

.startFrame p {
  font-style: italic;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.startButton,
.choice-box {
  display: block;
  text-align: center;
  margin: 15px auto;
  padding: 15px 30px;
  border: 1px solid #007bff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif;
  color: #007bff;
}

.startButton:hover,
.choice-box:hover {
  background-color: #007bff;
  color: #fff;
}

.startButton.clicked,
.choice-box.clicked {
  background-color: #ffa500;
  color: #fff;
}

#startFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9999;
}

.timer {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background-color: #007bff;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
}

.timer::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 80%;
  height: 5px;
  background-color: #007bff;
  border-radius: 4px;
}
